.home .hero .description {
    min-width: 60rem;
}

.page mark {
    background-color: transparent;
    color: inherit;
    border: 1px solid #e0e0e0;
    padding: 0.05rem 0.3em 0.1rem 0.3em;
    border-radius: 0.2em;
}

