/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
html, body
  background-color: #24272e!important

.navbar 
  background-color: #24272f!important
  border-bottom: 1px solid #2c2f35!important;

  .links
    background-color: transparent!important

.nav-links
  .nav-item
    margin: 0!important
    a
      color: #f6f7f9!important
      padding: .375rem .75rem!important
      border-radius: 9999px!important
      &:hover
        border: none!important
        background-color: rgba(246,247,249,.05)!important

.home 
  .hero 
    img
      max-width 450px!important
    .description
      max-width: 70rem!important

    .action-button
      background-color: #3a7da1!important
      border-color: #3a7da1!important
      &:hover 
        background-color: #366c8a!important
#main-title
  color: #f6f7f9!important
  
.search-box
  input
    background-color: #343a44!important
    border-color: #343a44!important
    color: #9ba1b2!important